.kk_spinner_wrapper{
    display: none;
     position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:99999;
    justify-content: center;
    align-items: center;
    gap:2em;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
}
.kk_spinner{
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%,rgba(82, 0, 255, 0) 0deg,#5200ff 360deg);
    animation: spin 2s infinite linear;
}
.kk_spinner::before {
    content: "";
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: #FFF;
}
@keyframes spin {
    to {transform: rotate(1turn);}
}